    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.rtl.min.css" integrity="sha384-dc2NSrAXbAkjrdm9IYrX10fQq9SDG6Vjz7nQVKdKcJl3pC+k37e7qJR5MVSCS+wR" crossorigin="anonymous">

<h1>Bought orders</h1>

<table class="table table-striped table-hover table-bordered">
  <thead class="table-dark">
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Condition</th>
      <th>Price</th>
      <th>Seller</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bought_items.each do |item| %>
      <tr>
        <td><%= item.listing.title %></td>
        <td><%= item.listing.description %></td>
        <td><%= item.listing.condition %></td>
        <td><%= number_to_currency(item.listing.price) %></td>
        <td><%= item.seller.username %></td>
        <td><%= item.listing.category.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
